* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f2f0f5;
    font-family: 'Poppins', sans-serif;

}

/*header ===========*/
header{
    background:#2d4a22;
    padding: 2rem 0;
    text-align: center;

}

#logo{
    color: #f2f0f5;
    
}


